.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px 40px;
}
.header-wrapper {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-container {
    width: 100%;
}

.car-form {
    width: 600px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}
